@model UserToReturnDto
@{
    ViewData["Title"] = "Details";
}

<h1>Delete Page</h1>

<form asp-action="Delete" method="post">
    <div class="my-3">
        <label asp-for="UserName" class="col-form-label"></label>
        <input asp-for="UserName" class="form-control" readonly />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="FirstName" class="col-form-label"></label>
        <input asp-for="FirstName" class="form-control" readonly />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="LastName" class="col-form-label"></label>
        <input asp-for="LastName" class="form-control" readonly />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="Email" class="col-form-label"></label>
        <input asp-for="Email" class="form-control" readonly />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="my-3">
        <label asp-for="Roles" class="col-form-label"></label>
        <input asp-for="Roles" class="form-control" readonly />
        <span asp-validation-for="Roles" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-danger" value="Delete" />
    <a asp-action="Index" class="btn btn-light">Back to list</a>
</form>





