
@model UserToReturnDto

<div class="my-3">
    <label asp-for="UserName" class="col-form-label"></label>
    <input asp-for="UserName" class="form-control" />
    <span asp-validation-for="UserName" class="text-danger"></span>
</div>
<div class="my-3">
    <label asp-for="FirstName" class="col-form-label"></label>
    <input asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>
<div class="my-3">
    <label asp-for="LastName" class="col-form-label"></label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>
<div class="my-3">
    <label asp-for="Email" class="col-form-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="my-3">
    <label asp-for="Roles" class="col-form-label"></label>
    <input asp-for="Roles" class="form-control" />
    <span asp-validation-for="Roles" class="text-danger"></span>
</div>
