@model RoleToReturn
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee</h1>
<br />
<br />
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <partial name="RolePartialView/_CreateEditPartialView" />
    
    <input type="submit" class="btn btn-primary" value="Update" />
    <a asp-action="AddOrRemoveUsers" asp-route-roleid="@Model.Id" class="btn btn-info">Add Or Remove Users</a>
    <a asp-action="Index" class="btn btn-light">Back to list</a>
    
</form>
@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}